[submodule "Myntra Clone"]
    path= public/Minor Projects/Myntra Clone
    url= https://github.com/adi907/Myntra_clone

[submodule "Tic_tac_toe"]
    path= public/Minor Projects/Tic_tac_toe
    url= https://github.com/adi907/tic_tac_toe